aiomysql==0.1.1
alembic==1.8.1
amqp==5.1.1
anyio==3.6.1
async-timeout==4.0.2
asyncpg==0.28.0
behave==1.2.6
billiard==3.6.4.0
celery==5.2.7
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Deprecated==1.2.13
fastapi==0.81.0
fastapi-event==0.1.3
greenlet==1.1.3
gunicorn==20.1.0
h11==0.13.0
idna==3.3
kombu==5.2.4
Mako==1.2.2
MarkupSafe==2.1.1
packaging==21.3
parse==1.19.0
parse-type==0.6.0
prompt-toolkit==3.0.30
psycopg2==2.9.7
pydantic==1.10.1
PyJWT==2.4.0
PyMySQL==1.0.2
pyparsing==3.0.9
python-dotenv==1.0.0
pythondi==1.2.4
pytz==2022.2.1
redis==4.3.4
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.40
starlette==0.19.1
typing_extensions==4.3.0
ujson==5.4.0
uvicorn==0.18.3
vine==5.0.0
wcwidth==0.2.5
wrapt==1.14.1
